footer {
    background-color: #dfe6e9;
    height: 500px;

    h3{
        padding-top: 40px;
        padding-left: 20px;
        font-weight: bolder;
    }

    .list_ul{
        padding-top: 20px;
        list-style: none;
        display: flex;
        gap: 20px;

        &_pag{

            img{
                width: 50px;
                height: 30px;
            }
        }
    }

    .dont_list{
        display: flex;
        padding-top: 40px;

        .list{
            list-style: none;
            
            li{
                padding-bottom: 20px;
                font-size: 12px;
            }
        }
    }

  
}